<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/alertify.min.js"></script>
    <!-- include the style -->
    <link rel="stylesheet" href="/css/alertify.min.css"/>
    <!-- include a theme -->
    <link rel="stylesheet" href="/css/themes/default.min.css"/>
  </head>
<body>

<div class="wrapper">
  <div class="sidebar">
    <h2>Admin dashboad</h2>
    <ul>
        <li><a href="/admin"><i class="fas fa-home"></i>Quản lý phim</a></li>
        <li><a href="/admin/createMovie"><i class="fas fa-plus"></i>Thêm phim</a></li>
        <li><a href="#"><i class="fas fa-project-diagram"></i>Sửa banner</a></li>
        <li class="active"><a href="/admin/manageUser"><i class="fas fa-users" ></i>Quản lý users</a></li>
        <li><a href="/admin/logout"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a></li>
    </ul> 
</div>
    <div class="main_content">
      <form class="header" action="" method="get">
        <input type="text" placeholder="Search">
        <button><i class="fas fa-search"></i></button>
      </form> 
        <div class="info">
          <h1 style="text-align: center;">Danh sách người dùng</h1>
          <table class="rwd-table" >
              <th>Tên người dùng</th>
              <th>Email</th>
              <th>Số điện thoại</th>
              <th>Ngày đăng ký</th>
              <th style="text-align: right;">Quản lý</th>
            <% for(var i =0; i < users.length; i++) { %>
              <tr>
                <td ><%=users[i].userName%></td>
                <td><%=users[i].email%></td>
                <td data-th="Genre"><%=users[i].phoneNumber%></td>
                <td> <%= users[i].dateCreate %></td>
                <td style="text-align:right; padding-right: 3%;"data-th="Gross">
                  <a style="font-size: 20px; color: black;" method="post" href="/admin/edituser/<%=users[i].email%>"><i class="far fa-edit"></i></a>
                  <a href="#" onclick="alertify.confirm('Xóa tài khoản','Xác nhận xóa tài khoản <%=users[i].userName%>', 
                    function(){ alertify.success('Xóa thành công');
                    $.ajax({
                      type: 'DELETE',
                      url:  '/admin/deleteUser',
                      data: {id : '<%=users[i]._id%>'}
                      }); 
                      location.reload();
                    }
                    ,function(){ alertify.error('Không thành công')});" style="font-size: 20px; color: tomato;"><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            <% } %>  
          </table>
          <% if (pages > 0) { %>
            <div class="pagination">
                <% if (current == 1) { %>
                    <a>First</a>
                <% } else { %>
                    <a href="?page=1">First</a>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                      <a class="active"><%= i %></a>
                    <% } else { %>
                      <a href="?page=<%= i %>"><%= i %></a>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                      <a>...</a>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <a>Last</a>
                <% } else { %>
                    <a href="?page=<%= pages %>">Last</a></li>
                <% } %>
                </div>
          <% } %>   
        </div>    
    </div>
</div>

</body>
</html>