<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/phim.css">
</head>

<body>
    <!-- bắt đầu header -->
    <%- include('header'); -%>
        <!-- bắt đầu header -->
        <div class="container-fluid" style="padding: 0%;">
            <div class="slider-film">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://assets.glxplay.io/static/images/vi-khach-vip-poster_banner_landscape_21x9_2048x878_3x.jpg" alt="Vị khách vip" width="100%" height="auto">
                        </div>
                        <div class="carousel-item">
                            <img src="https://assets.glxplay.io/static/images/angel-has-fallen-poster_banner_landscape_21x9_2048x878_3x.jpg" alt="Nữ hoàng băng giá 2" width="100%" height="auto">
                        </div>
                        <div class="carousel-item">
                            <img src="https://assets.glxplay.io/static/images/tomb-raider-poster-new_banner_landscape_21x9_2048x878_3x.jpg" alt="Tomb Raider: Huyền Thoại Bắt Đầu" width="100%" height="auto">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- kết thúc header -->
        <!-- kết thúc header -->
        <!-- bắt đầu main -->
        <div class="container-fluid" style="padding: 0%;">
            <!-- phim mới cập nhật  -->
            <div class="main one">
                <div class="nametypefilm1">
                    <div class="name">
                        <h3>PHIM MỚI CẬP NHẬT</h3>
                    </div>
                </div>

                <div class="row">
                    <% for(var i =0; i < dsphim.length; i++) { %>
                        <div class="col-sm-3" style="padding-bottom: 50px;">
                            <div class="filmfirst" style="text-align: center;">
                                <a href="/phim/<%=dsphim[i].ten%>"> <img src="<%= dsphim[i].img %>"alt="phim1" style="width: 75%;"></a>
                                <div class="content-top-film">
                                    <h6 style="width: 100%;">
                                        <%=dsphim[i].ten%>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>

        <!-- kết thúc main -->
        <!-- bắt đầu footer -->
        <%- include('footer'); -%>
            <!-- kết thúc footer -->
</body>

</html>